<div class="login-box">
  <div class="login-logo">
    <div><b>YY</b>fers</div>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <% unless flash.empty? %>
      <div class="alert alert-danger">
      <%= flash[:danger]%>
      </div>
    <% end %>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>        
      </div>

      <div class="row">
        <div class="col-xs-8"> 
          <a href="/signup" class="text-center">Register new account</a>
        </div>      
        <div class="col-xs-4">
          <%= f.submit "Sign In", class: "btn btn-primary btn-block btn-flat" %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->